<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- to load single component instead -->
      <a
      [routerLink]="['/servers', server.id]" 
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">

    <router-outlet></router-outlet> <!-- to be able to work with nested routes-->
    <!-- <button class="btn btn-primary" (click)="onReload()"> Reload Page </button> -->

    <!-- <a routerLink="/servers">Reload Page</a> absolute path: localhost:4200/servers -->

    <!-- <a routerLink="servers">Reload Page</a> 
      relative path. Gives currentpath (localhost:4200/servers/servers)-->

    <!-- <a routerLink="../servers">Reload Page</a>  
      go back of 1 page, before adding /servers-->

    <!-- <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

